
/*
 * Hyde theme adapted directly from getpoole.com
 */
html {
  font-family: Georgia, serif;
  color: #333;
  background-color: #fff;
}

.sidebar {
  background-color: #202020;
  color: #fff;
  padding: 20px;
  width: 220px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar h1 {
  font-family: "Abril Fatface", serif;
  font-size: 3.25rem;
  color: #fff;
  margin-top: 0;
}

.sidebar-nav-item {
  color: rgba(255, 255, 255, 0.7);
  display: block;
  padding: 5px 0;
}

.sidebar-nav-item:hover {
  color: #fff;
}

.content {
  margin-left: 240px;
  padding: 40px;
  max-width: 650px;
}

h1, h2 {
  font-family: "Abril Fatface", serif;
}

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 2.25rem;
}

body.theme-base-08 {
  background-color: #fff;
  color: #333;
}

body.theme-base-0d {
  background-color: #002b36;
  color: #839496;
}
