
/*
 * Poole base CSS framework used in Hyde theme
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Georgia, serif;
  line-height: 1.6;
}

a {
  color: #268bd2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
