/*!
 * Hyde Theme Adapted for Chandni Naidu
 * Based on Hyde (https://github.com/poole/hyde)
 */

/* Reset */
html, body, div, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, serif;
  color: #333;
  background-color: #fff;
  line-height: 1.6;
}

a {
  color: #268bd2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Layout */
.sidebar {
  background: #f7f7f7;
  width: 220px;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 30px;
  border-right: 1px solid #eee;
}

.container {
  max-width: 650px;
  margin: 0 auto;
}

.sidebar-sticky {
  position: sticky;
  top: 0;
}

.content {
  margin-left: 240px;
  padding: 40px 20px;
}

.sidebar h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  margin-bottom: 5px;
}

.sidebar p.lead {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.sidebar-nav {
  margin-bottom: 20px;
}

.sidebar-nav-item {
  display: block;
  color: #333;
  padding: 5px 0;
}

.sidebar-nav-item.active {
  font-weight: bold;
}

.sidebar p {
  font-size: 12px;
  color: #aaa;
}

h1, h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 40px 0 20px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

ul {
  margin-bottom: 20px;
  list-style: disc;
  padding-left: 20px;
}

p {
  margin-bottom: 20px;
}
