# Site settings
title: Chandni Naidu
description: Designing satisfying experiences that simplify complex user needs
author: Chandni Naidu

# URL settings
url: "https://chandniverse.github.io"
baseurl: ""

# Build settings
markdown: kramdown
sass:
  sass_dir: _sass
  style: compressed

# Plugins
plugins:
  - jekyll-seo-tag

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
