<footer class="site-footer">
  <div class="container">
    <p class="footer-cta text-serif">
      Get in touch to explore what we can build together
    </p>
    
    <p class="footer-availability">
      Currently open to full time work or contracts in product design, research and strategy in finance, healthcare and ed-tech. Remote, or in-person in 📍NYC.
    </p>
    
    <div class="footer-links">
      <a href="https://work.chandninaidu.com/" class="footer-link link-underline-static accent-pink" target="_blank" rel="noopener">
        About
      </a>
      <a href="mailto:hello@chandninaidu.com" class="footer-link link-underline-static accent-orange">
        hello@chandninaidu.com
      </a>
      <a href="https://calendar.notion.so/meet/chandni/schedule" class="footer-link link-underline-static accent-teal" target="_blank" rel="noopener">
        Calendar
      </a>
    </div>
    
    <div class="footer-bottom">
      <span>Site designed with ☕️ and ❤️</span>
      <span>© {{ 'now' | date: "%Y" }} Chandni Naidu Deadwyler</span>
    </div>
  </div>
</footer>
